<div class="container" >
  <span class="title">¿Quieres registrarte?</span>
  <form class="user" [formGroup]="userForm">
    <lib-form-input [formGroup]="userForm" name="firstName" type="text" placeholder="Nombre *"  >
    </lib-form-input>
    <lib-form-input  [formGroup]="userForm" name="lastName" type="text" placeholder="Apellidos *">
    </lib-form-input>
    <lib-form-input  [formGroup]="userForm" name="email" type="text" placeholder="Tu Email * ">
    </lib-form-input>
    <lib-form-input  [formGroup]="userForm" name="password" type="password" placeholder="Contraseña *">
    </lib-form-input>
    <lib-form-button type="submit" text="REGISTRARME" (BtnClickEmt)="onSubmit()" ></lib-form-button>
  </form>
</div>