/* You can add global styles to this file, and also import other style files */


html{

    width: 100%;
    height: auto;

    .main{
        
        width: 90%;
        margin: auto;
    }
}

//Color Pallete
$white: #ffff;
$black: #0000;
$darkGray: #6b7280;
$lightGray: #f9fafb;
$blue: #4285f4;
$green: #22c55e;
$darkRed: #dc2626;
$lightRed: #ef4444;


//Text Styles
@font-face {
    font-family: Quicksand;
    src: local(Quicksand-Regular),
      url(/path/to/Quicksand-Regular.woff2) format("woff2"),
      url(/path/to/Quicksand-Regular.woff) format("woff"),
      url(/path/to/Quicksand-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Quicksand;
    src: local(Quicksand-Bold),
      url(/path/to/Quicksand-Bold.woff2) format("woff2"),
      url(/path/to/Quicksand-Bold.woff) format("woff"),
      url(/path/to/Quicksand-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  .desktop-h1 {
    font-family: Quicksand;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .desktop-menu-pages {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .desktop-pizzacard-name {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .desktop-searchbar {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .desktop-pizzacard-price {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .desktop-pizzacard-buttom {
    font-family: Quicksand;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

